<script setup lang="ts">
import { provide } from 'vue'

const toast     = useToast()
const colorMode = useColorMode()
const isDark    = computed({
  get() {
    return colorMode.value === 'dark'
  },
  set() {
    colorMode.preference = colorMode.value === 'dark' ? 'light' : 'dark'
  }
})

const warnError = (params: warnErrorParamType) => {
  const {
    title = 'Problème technique',
    description,
    message,
    errors
  } = params

  toast.add({
    title,
    description,
    icon: 'i-heroicons-bell',
    color: 'red',
  })

  console.error(...[message, errors].filter(Boolean)) // Clean from falsy values
}

provide('isDark', isDark)
provide('warnError', warnError)
</script>
<template>
  <NuxtPage />
  <UNotifications />
</template>
