<script setup>
const error = useError()
console.warn(error.value.statusMessage)
</script>

<template>
  <UContainer>
    <h1 class="text-xl text-center p-10">Désolé l'application est cassée</h1>
  </UContainer>
</template>
