<script setup lang="ts">
// Nuxt doesnt handle multiple slot in layout, so custom solution here
// https://github.com/nuxt/nuxt/issues/190

import { inject } from 'vue'

const isDark = inject('isDark')
</script>
<template>
  <div class="p-5 bg-stone-900/90 drop-shadow-lg fixed top-0 left-0 right-0 z-20">
    <div class="p-5 mb-5 flex gap-3 text-sm">
      <LinkNavigation to="/">Accueil</LinkNavigation>
      <LinkNavigation to="/tier">Tier</LinkNavigation>
    </div>
    <div class="grid grid-cols-8 gap-4">
      <h2 class="col-span-1 text-5xl inline-flex items-center justify-center">🫰🏼</h2>

      <div class="col-span-6 border rounded px-5 py-3 border-gray-50/10" >
        <slot name="header" />
      </div>

      <ClientOnly class="col-span-1">
        <UButton
          :icon="isDark ? 'i-heroicons-moon-20-solid' : 'i-heroicons-sun-20-solid'"
          class="justify-center"
          color="gray"
          variant="ghost"
          aria-label="Theme"
          @click="isDark = !isDark"
        />
      </ClientOnly>
    </div>
  </div>
  <div class="mt-80">
    <UContainer>
      <slot name="content" />
    </UContainer>
  </div>
</template>
