<script setup lang="ts">
defineProps<{
  to: string
}>()
</script>

<template>
  <ULink
    :to="to"
    active-class="text-primary"
    inactive-class="text-gray-500"
  >
    <slot />
  </ULink>
</template>
