<script setup lang="ts">
import type { APITransactionsType } from "~/types/API/APITransactions";
import Layout from "~/components/Layout.vue"
import {transactionsAPI} from "~/composables/API/apiTransactions"
import {thirdPartiesAPI} from "~/composables/API/apiThirdParties"

const transactions: Ref<APITransactionsType[] | []> = ref([])
const thirdParties: Ref<APIThirdPartiesType[] | []> = ref([])
const loading: Ref<Boolean> = ref(true)
const transaction = ref()

onMounted(async () => {
  await getTransactions()
  await getThirdParties()
})

const transactionEditHandler = (transactionToEdit: APITransactionsType) => transaction.value = transactionToEdit
const transactionPostActionHandler = (): Promise<void> => getTransactions()

const getTransactions = async (): Promise<void> => {
  try {
    transactions.value = await transactionsAPI.getAll()
  } catch(e) {
    showError({statusMessage: 'API not responding'})
  }
  loading.value = false
}

const getThirdParties = async (): Promise<void> => {
  try {
    thirdParties.value = await thirdPartiesAPI.getAll()
  } catch(e) {
    showError({statusMessage: 'API not responding'})
  }
  loading.value = false
}

</script>
<template>
  <Layout>
    <template #header>
      <TransactionForm
        @transaction-added="transactionPostActionHandler"
        @transaction-edited="transactionPostActionHandler"
        :transaction="transaction"
        :thirdParties="thirdParties"
      />
    </template>

    <template #content>
      <TransactionContainer
        v-if="!loading"
        :transactions="transactions"
        @transaction-removed="transactionPostActionHandler"
        @transaction-edit="transactionEditHandler"
      />
      <p v-else-if="loading" class="text-center text-gray p-3">Chargement en cours…</p>
      <p v-else class="text-center text-gray p-3">Rien pour l'instant ;)</p>
    </template>
  </Layout>
</template>
