<script setup lang="ts">
import { thirdPartiesAPI } from '~/composables/API/apiThirdParties'
import type { APIThirdPartiesType } from '~/types/API/APIThirdParties';

const thirdParties: Ref<APIThirdPartiesType[] | []> = ref([])
const loading: Ref<Boolean> = ref(true)

onMounted(() => {
  getThirdParties()
})

const thirdPartyForm = ref()
const hidedColumns = ['who', 'actions']
const thirdPartySelected: Ref<APIThirdPartiesType | undefined> = ref()

const getThirdParties = async (): Promise<void> => {
  try {
    thirdParties.value = await thirdPartiesAPI.getAll()
  } catch(e) {
    showError({statusMessage: 'API not responding'})
  }
  loading.value = false
}

const onDeleteHandler = async (id: number | undefined) => {
  if (!id)
    return showError({statusMessage: 'Missing id'})

  await thirdPartiesAPI.deleteOne(id)
  getThirdParties()
}

const onEditHandler = async (thirdPartyToEdit: APIThirdPartiesType | undefined) => {
  if (!thirdPartyToEdit)
    return showError({statusMessage: 'Missing third party'})

  thirdPartyForm.value = thirdPartyToEdit
}

const postActionHandler = (): Promise<void> => getThirdParties()

const onSelectedHandler = (thirdParty: APIThirdPartiesType) => {
  thirdPartySelected.value = thirdParty
}
</script>

<template>
  <Layout>
    <template #header>
      <ThirdPartyForm
        @third-party-added="postActionHandler"
        :third-party="thirdPartyForm"
      />
    </template>

    <template #content>
      <div
        v-if="!loading && thirdParties.length"
        class="grid grid-cols-6 gap-4">
        <div class="col-span-2">
          <ThirdPartyListing
            @third-party-delete="onDeleteHandler"
            @third-party-edit="onEditHandler"
            @third-party-selected="onSelectedHandler"
            :thirdParties="thirdParties"
          />

        </div>
        <div class="col-span-4 text-gray text-center align-middle">
          <TransactionContainer
            :transactions="thirdPartySelected?.transactions"
            :hided-colums="hidedColumns"
            @transaction-removed="() => console.log('is possible remove is define in component container ?')"
            @transaction-edit="() => console.log('is possible edit is define in component container ?')"
          />
        </div>
      </div>
      <p v-else-if="loading" class="text-center text-gray p-3">Chargement en cours…</p>
      <p v-else class="text-center text-gray p-3">Rien pour l'instant ;)</p>
    </template>
  </Layout>
</template>
