<script setup lang="ts">
import { transactionsAPI } from "~/composables/API/apiTransactions"

import type { APITransactionsType } from "~/types/API/APITransactions"
import type { ColumnType } from '~/types/Transactions/TransactionsFilter.ts'
import type { TransactionsRowType } from '~/types/Transactions/TransactionsTable.ts'

const config = useRuntimeConfig()
const props = defineProps<{
  transactions: APITransactionsType[] | undefined
  hidedColums?: string[] | undefined
}>()
const emit = defineEmits(['transaction-removed', 'transaction-edit'])

const columns: ColumnType[] = [
  {
    key: 'date',
    label: 'Quand',
    sortable: true,
  },
  {
    key: 'amount',
    label: 'Somme',
    sortable: true,
  },
  {
    key: 'who',
    label: 'Qui',
  },
  {
    key: 'actions',
    label: 'Actions',
  }
]

const actionsColumn = (row: TransactionsRowType) => [
  [
    {
      label: 'Éditer',
      icon: 'i-heroicons-pencil-square-20-solid',
      click: () => editHandler(row)
    },
    {
      label: 'Supprimer',
      icon: 'i-heroicons-trash-20-solid',
      click: () => {
        if (window.confirm('Sûr ?'))
          deleteHandler(row.id as number) // Assuming there is no error from the grid
      }
    }
  ]
]

const currentPage: Ref<number> = ref(1)
const rowsPerPage: number = parseInt(config.public.transactions.table.itemsPerPage, 10) || 40
const totalRows: Ref<number> = ref(props.transactions?.length || 0)
const applyFilterColumns = () => columns.filter((item) => !props.hidedColums?.includes(item.key))
const selectedRows = ref([])

const q: Ref<String> = ref('')
const onSearch = (param: String) => q.value = param

const searchRows = (transactions: TransactionsRowType[]): TransactionsRowType[] => {
  if (!q.value)
    return transactions

  return transactions.filter(transactions =>
    Object.values(transactions).some(value =>
      String(value).toLowerCase().includes(q.value.toLowerCase())
    )
  )
}

const getRowsPerPage = (rows: TransactionsRowType[]): TransactionsRowType[] =>
  rows.slice(
    (currentPage.value - 1) * rowsPerPage,
    (currentPage.value) * rowsPerPage
  )

const filteredRows = computed((): TransactionsRowType[] => {
  if (!props.transactions)
    return []

  const searchedRows = searchRows(props.transactions)
  totalRows.value = searchedRows.length
  const rows = getRowsPerPage(searchedRows)

  return rows.map((row: TransactionsRowType) => {
    row.class = `bg-${row.amount < 0 ? 'red' : 'green'}-500/5`
    return row
  })
})

const deleteHandler = async (id: number) => {
  await transactionsAPI.deleteOne(id)
  emit('transaction-removed')
}

const editHandler = async (transactionRow: TransactionsRowType) => {
  const transaction = {...transactionRow}
  delete transaction.class
  emit('transaction-edit', transaction)
}

</script>

<template>
  <div>
    <TransactionFilters
      :onSearch="onSearch"
      :columnOptions="applyFilterColumns()"
    />

    <UTable
      v-model="selectedRows"
      :columns="applyFilterColumns()"
      :rows="filteredRows"
      :empty-state="{ icon: 'i-heroicons-circle-stack-20-solid', label: 'Rien pour l’instant' }">
      <template #date-data="{ row }">{{ row.date }}</template>
      <template #amount-data="{ row }">{{ row.amount }} €</template>
      <template #who-data="{ row }">{{ row.third_party?.name }}</template>

      <template #actions-data="{ row }">
        <UDropdown :items="actionsColumn(row)">
          <UButton color="gray" variant="ghost" icon="i-heroicons-ellipsis-horizontal-20-solid" />
        </UDropdown>
      </template>
    </UTable>

    <TransactionPaginate v-model="currentPage" :rowsPerPage="rowsPerPage" :totalRows="totalRows" />
  </div>
</template>
