<script setup lang="ts">
const props = defineProps<{
  onSearch: Function
}>()

</script>

<template>
  <div class="flex px-3 py-3.5 border-b border-gray-200 dark:border-gray-700 space-x-2">
    <UInput
      @input="props.onSearch($event.target.value)"
      placeholder="Filtrer les transactions"
    />
  </div>
</template>
