<script setup lang="ts">
const props = defineProps<{
  edit: boolean
}>()

const emit = defineEmits(['debit', 'credit'])

const iconBasedState = computed(() =>  {
  if (props.edit)
    return 'i-heroicons-pencil-square-20-solid'

  return 'i-heroicons-paper-airplane-solid'

})
</script>

<template>
  <UButtonGroup>
    <UButton
      disabled
      :icon="iconBasedState"
      class="my-5"
      variant="solid"
      color="gray"
    />
    <UButton 
      @click="emit('debit')"
      type="submit"
      class="my-5 px-5"
      color="red"
    >
      Débit
    </UButton>
    <UButton 
      @click="emit('credit')"
      type="submit"
      class="my-5 px-5"
      color="green"
    >
      Crédit
    </UButton>
  </UButtonGroup>
</template>
