<script setup lang="ts">
const props = defineProps<{
  rowsPerPage: number
  totalRows: number
}>()

const currentPage = defineModel<number>({default: 1})
</script>

<template>
  <div class="flex px-3 py-3.5 border-b border-gray-200 dark:border-gray-700 space-x-2">
    <UPagination
      v-if="props.totalRows > props.rowsPerPage"
      v-model="currentPage"
      :page-count="props.rowsPerPage"
      :total="props.totalRows"
    />
  </div>
</template>
